/*  your css code here. If applicable */
#yellow{
	background-color:yellow;
	border:1px soild green;
}
#red{
	background-color:red;
	border:1px soild black;
}
#green{
	background-color:green;
	border:1px soild yellow;
}